@import "normalize";
@import "main";

$red: red;
$gray: #999;
$blue: blue;

$color-1: $red;
$color-2: $gray;

@mixin background {
	background-color: green;
	border: solid $color-1;
	padding: 15px;
}



html {
	@include background;
}

body {
	@include background;
}